[Package]
version: 1
depends: 

[Product]
type: localboot
id: ica-vs2019
name: ICA-VS2019
description: Visual Studio 2019 community edition. Install c++ native application and git options
advice: 
version: 1804629285.1543436600
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: bool
name: keep_files
description: Do not delete any files remaining in the Visual Studio directory after un-install (no effect during setup) : true -> keep files ; fasle -> clean directory
default: False

[ProductProperty]
type: bool
name: keep_installer
description: Do not uninstall the Visual Studio Installer (no effect during setup) : true -> do not uninstall ; false -> uninstall
default: False

[Changelog]
ica-vs2019 (community__1630314748.1554796130-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  4/20/2019 9:39:36
